/* css가 하는 일은 HTML 태그를 가리키는 일이다. 

    selector {
        property: value;
    }
*/

/* 
    inline CSS
    external CSS
*/

/* 
    #id {
        property: value;
    }

    .class {
        property: valuse;
    }
*/

img {
    border: 5px solid black;
    border-radius: 50%;
    transition: all 2s ease-in-out;
}
img:hover {
    transform: rotateZ(80deg);
}
